
<div class="not-identified div">
<h1 class="back-to-homepage-link">sorry, image was not identified, please try again</h1>
<a href="/" class="back-to-homepage-link">Click here to identify again</a>
</div>
